<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Cheesecake Shop</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" media="all" href="../public/styles/960.css" />
<link rel="stylesheet" type="text/css" media="all" href="../public/styles/reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="../public/styles/text.css" />
<link rel="stylesheet" type="text/css" media="all" href="../public/style.css" />
<link rel="stylesheet" type="text/css" media="all" href="../public/themes/brown/style.css" />
<script src="../public/scripts/jquery.min.js"></script>
<script src="../public/scripts/jquery-ui.min.js"></script>
</head>
<body>
<div id="warp">
  <div id="main" class="container_16">
    <div id="header" class="grid_16">
      <div id="logo" class="grid_4 alpha">
        <h1><a href="index.html">Cheesecake Shop</a></h1>
      </div>
      <div class="container">

        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> Node Authentication</h1>

            <p>Login or Register with:</p>

            <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>

        </div>

    </div>
      <div id="headright" class="grid_7 prefix_5 omega">
      <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
        <h3 class="login"><a href="login.ejs">Sign up</a> / <a href="login.ejs">Login</a></h3>
        <p>Subtotal: $ 0.00</p>
        <p><span class="vChart"><a href="shoppingcart.ejs">View Cart</a></span> <span class="cOut"><a href="checkout.ejs">Checkout</a></span></p>


      </div>
    </div>
    <div id="mainMenu" class="grid_16">
      <ul>
        <li><a href="index.ejs" class="aActive">Home</a></li>
        <li><a href="product-overview.ejs">Cakes</a></li>
      </ul>
    </div>
    <div id="stickySearch" class="grid_16">
      <div class="search grid_4 omega">
        <form action="#" method="get">
          <input type="text" value="Type your keyword" id="s" name="s" onfocus="if (this.value == 'Type your keyword') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Type your keyword';}" />
        </form>
      </div>
    </div>
    <div class="products grid_16">
      <div class="productsWarp">
        <ul>
          <li><a href="product-overview.ejs"><img src="../public/images/cake1.jpg" alt="" width="938" height="398" /></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
</html>
