<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Cheesecake Shop</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" media="all" href="/styles/960.css" />
<link rel="stylesheet" type="text/css" media="all" href="/styles/reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="/styles/text.css" />
<link rel="stylesheet" type="text/css" media="all" href="/style.css" />
<link rel="stylesheet" type="text/css" media="all" href="/themes/brown/style.css" />
<script src="/scripts/jquery.min.js"></script>
<script src="/scripts/jquery-ui.min.js"></script>
</head>
<body>
<div id="warp">
  <div id="main" class="container_16">
    <div id="header" class="grid_16">
      <div id="logo" class="grid_4 alpha">
        <h1><a href="index.ejs">Cheesecake Shop</a></h1>
      </div>
      <div id="headright" class="grid_7 prefix_5 omega">
        <p>Login or Register with:</p>
      <a href="/auth/facebook" class="btn-facebook"><span class="fa fa-facebook-official"></span> Login with Facebook</a>
<h3 class="login"><a href="loginpage">Sign up</a> / <a href="loginpage">Login</a></h3>
        <p><span class="vChart"><a href="shoppingcartpage">View Cart</a></span> <span class="cOut"><a href="checkoutpage">Checkout</a></span></p>
      </div>
    </div>
    <div id="mainMenu" class="grid_16">
      <ul>
        <li><a href="/" class="aActive">Home</a></li>
        <li><a href="productpage">Cakes</a></li>
      </ul>
    </div>


    <div id="stickySearch" class="grid_16">
      <div class="search grid_4 omega">
        <form action="/search" method="post">
          <input type="text" value="Type your keyword" id="item" name="item" onfocus="if (this.value == 'Type your keyword') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Type your keyword';}" />
        </form>
      </div>
    </div>


    <div class="products grid_16">
      <div class="productsWarp">
        <ul>
          <li><a href="productpage"><img src="/images/cake1.jpg" alt="" width="938" height="398" /></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
</html>
