<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Cheesecake Shop | Product Overview</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" media="all" href="/styles/960.css" />
<link rel="stylesheet" type="text/css" media="all" href="/styles/text.css" />
<link rel="stylesheet" type="text/css" media="all" href="/styles/reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="/style.css" />
<link rel="stylesheet" type="text/css" media="all" href="/themes/brown/style.css" />
</head>
<body>
<div id="warp">
  <div id="main" class="container_16">
    <div id="header" class="grid_16">
      <div id="logo" class="grid_4 alpha">
        <h1><a href="/">Cheesecake Shop</a></h1>
      </div>
      <div id="headright" class="grid_7 prefix_5 omega">
        <p>Login or Register with:</p>
       <a href="/auth/facebook" class="btn-facebook"><span class="fa fa-facebook-official"></span> Login with Facebook</a>
<h3 class="login"><a href="loginpage">Sign up</a> / <a href="loginpage">Login</a></h3>
        <p><span class="vChart"><a href="shoppingcartpage">View Cart</a></span> <span class="cOut"><a href="checkoutpage">Checkout</a></span></p>
      </div>
    </div>
    <div id="mainMenu" class="grid_16">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="productpage">Cakes</a></li>
      </ul>
    </div>
    <div id="stickySearch" class="grid_16">
      <div class="search grid_4 omega">
        <form action="#" method="get">
          <input type="text" value="Type your keyword" id="s" name="s" onfocus="if (this.value == 'Type your keyword') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Type your keyword';}" />
        </form>
      </div>
    </div>
    <div class="prodNav grid_16">
      <div class="prodHeadline grid_12 alpha">
        <h3>Cakes</h3>
      </div>
      <div class="browseCategory grid_4 omega">
        <form action="#" method="get">
          <select>
            <option>All Category</option>
            <option>Brownies</option>
            <option>Cheesecakes</option>
            <option>Cupcakes</option>
            <option>Pies</option>
          </select>
        </form>
      </div>
    </div>
    <div class="bodyContent grid_16">
      <div class="products grid_16 alpha">
        <div class="prodMenu">
          <h4>Products</h4>
          <div class="menu grid_4 alpha">
            <p><a href="#" class="grid_4 alpha"><img src="/images/cheesecake.jpg" alt="" width="220" height="120" /></a><br />
              <a href="#">Delicious Cheesecake in Huge Pan With Choco Slices</a></p>
          </div>
          <div class="menu grid_4">
            <p><a href="#" class="grid_4 alpha"><img src="/images/freshCake2.jpg" alt="" width="220" height="120" /></a><br />
              <a href="#">Cheese Poof</a></p>
          </div>
          <div class="menu grid_4">
            <p><a href="#" class="grid_4 alpha"><img src="/images/chocolate.jpg" alt="" width="220" height="120" /></a><br />
              <a href="#">Chocolate Cake With Vanilla Ice Cream and Chocolate Melt</a></p>
          </div>
          <div class="menu grid_4 omega">
            <p><a href="#" class="grid_4 alpha"><img src="/images/brownie.jpg" alt="" width="220" height="120" /></a><br />
              <a href="#">Cheesey Browney</a></p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
</html>
