<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Cheesecake Shop | Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" media="all" href="/styles/960.css" />
<link rel="stylesheet" type="text/css" media="all" href="/styles/text.css" />
<link rel="stylesheet" type="text/css" media="all" href="/styles/reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="/style.css" />
<link rel="stylesheet" type="text/css" media="all" href="/themes/brown/style.css" />
//Link to index.js
<script src="/scripts/jquery.min.js"></script>
<script src="/scripts/jquery-ui.min.js"></script>
<script src='../routes/login.js'></script>

</head>
<body>
<div id="warp">
  <div id="main" class="container_16">
    <div id="header" class="grid_16">
      <div id="logo" class="grid_4 alpha">
        <h1><a href="/">Cheesecake Shop</a></h1>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
</html>
